@*Model*@
@model IEnumerable<Producer>

@*C#*@
@{
    ViewData["Title"] = "List Of Producers";
}

@*HTML*@

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.ProfileURL)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Fullname)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.BIO)</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle ">
                            <img class="rounded-circle" src="@item.ProfileURL" alt="@item.Fullname" style="max-width:120px" />
                        </td>
                        <td class="align-middle ">
                            <span style="font-size: large; font-weight: bold; word-wrap: break-word;">@Html.DisplayFor(modelitem => item.Fullname)</span>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelitem => item.BIO)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-primary text-white"><i class="bi bi-pencil-square"></i> Edit </a>
                            <a class="btn btn-info text-white"><i class="bi bi-eye"></i> Detail </a>
                            <a class="btn btn-danger text-white"><i class="bi bi-trash"></i> Delete </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>