@*Model*@
@model IEnumerable<Movie>
@*C#*@
@{
    ViewData["Title"] = "List Of Movies";
}

@*HTML*@

<div class="row">

    @foreach (var item in Model)
    {
    <div class="col-md-4 mb-3 border-primary">
        <div class="card ">
            <div class="card-header text-white bg-info">
                @item.Name
                <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
            </div>
            <div class="card-body">
                <img src="@item.PhotoURL" alt="Card image cap" style="width: 18rem; height: 20rem;">
                <p class="card-text mt-2"> @item.Description</p>
                <p class="card-text"><b>Cinema : </b>@item.Cinema.Name</p>
                <p class="card-text"><b>Category : </b>@item.MovieCategory</p>
                <p class="card-text"><b>Start Date : </b>@item.StartDate.ToString("dd MMM yyyy")</p>
                <p class="card-text"><b>End Date  : </b>@item.EndDate.ToString("dd MMM yyyy")</p>
                <p class="card-text">
                    <b>Status : </b>
                    @if (DateTime.Now > item.EndDate)
                    {
                        <span class="badge bg-primary text-white">Expired</span>
                    }
                    else

                    {
                        <span class="badge bg-success text-white">Available</span>
                    }


                </p>
            </div>
            <div class="card-footer">
                <p class="card-text">
                    <a class="btn btn-secondary float-right"><i class="bi bi-eye-fill"></i> Details </a>
                    <a class="btn btn-primary"><i class="bi bi-cart-plus"> ( Price @item.Price.ToString("c")) </i></a>
                </p>
            </div>
        </div>
    </div>

    }



</div>